// PRimary Colors
$darkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);

// Neutral

$greyishBlue: hsl(233, 8%, 62%);
$lightGreyishBlue: hsl(220, 16%, 96%);
$veryLightGrey: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);
